html, body {
  margin: 0;
  padding: 10px;
}



body {
  margin: auto;
  margin-top: 140px;
  width: 100%;
  height: 100%;
  background: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

